@model HospitalManagementSystem.Models.ActePose

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_medecin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ActePose</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SigneClinique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SigneClinique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamenPhysique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamenPhysique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paiement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paiement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeSyndromique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeSyndromique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoireMaladie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoireMaladie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnqueteSysteme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnqueteSysteme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnostique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiche.CodePatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiche.CodePatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LibelleActe.Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibelleActe.Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personnel.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personnel.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personnel1.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personnel1.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personnel2.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personnel2.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
