@model HospitalManagementSystem.Models.Equivalence

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Pharmacie.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Equivalence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicament.NomCommercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicament.NomCommercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicament1.NomCommercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicament1.NomCommercial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
