@model HospitalManagementSystem.Models.Patient

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomComplet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomComplet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntecedentFamiliaux)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntecedentFamiliaux)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntecedentChirucauxPersonnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntecedentChirucauxPersonnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntecedentMedicauxPersonnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntecedentMedicauxPersonnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allergie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allergie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SituationMatrimogniale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SituationMatrimogniale)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
