@model IEnumerable<HospitalManagementSystem.Models.ActePose>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_medecin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SigneClinique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamenPhysique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paiement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeSyndromique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HistoireMaladie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnqueteSysteme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diagnostique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiche.CodePatient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibelleActe.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personnel.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personnel1.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personnel2.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SigneClinique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamenPhysique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paiement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumeSyndromique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HistoireMaladie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnqueteSysteme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnostique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiche.CodePatient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibelleActe.Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personnel.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personnel1.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personnel2.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
